node_modules

# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

*.log
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
